/* reset 파일에 letter-spacing:-0.02em 추가 */
/* =======================================header (페이지 로고) */
header {}
header h1 {padding: 21px 0 0 80px;}
header h1 a {}
header h1 a img {}
/* =====================================main > title 부분 시작 */
main {width: 360px; margin: 25px auto;}
main .title {padding-bottom: 30px; margin-bottom: 20px;}
main .title h2 {
    font-size: 1.25rem; font-weight: 600;
    margin-bottom: 14px;}
main .title p {
    text-align: center;
    font-size: 0.88rem; color: #777;
    margin-bottom: 14px;
}
main .title .fast_login {text-align: center;}
main .title .fast_login a {}
main .title .fast_login a:nth-child(2) {margin: 0 20px ;}
main .title .fast_login a img {}
/* ======================================main > form 시작 */
main #joinFrm {}
/* ======================================공통디자인 */
main #joinFrm dl {}
main #joinFrm dl dt {
    font-size: 1.06rem; font-weight: 500;
    margin-bottom: 10px;
}
main #joinFrm dl dd {margin-bottom: 20px;}
main #joinFrm dl dd input::placeholder {color: #bbb;}
/* 닉네임(텍스트인풋) 확인사항, html에서 20자 제한 걸어둠 */
main #joinFrm dl dd input[name^=user],
main #joinFrm dl dd select {
    background-color: #fff; border: 1px solid #ddd; border-radius: 3px;
    width: 100%; padding: 10px;
}
main #joinFrm dl dd .btn {}
/* ===============================================================개별디자인 */
/* dt 밑 안내문구 부분(영문, 숫자~, 다른 유저와~) */
main #joinFrm dl dd > span {
    font-size: 0.88rem; color: #777;
    display: inline-block; margin-bottom: 10px;
}
main #joinFrm dl dd input[name$=mail] {
    float: left;
    width: calc(100% - 190px);
}
/* mail '@' 표시 부분, position 위치 조정 */
main #joinFrm dl dd .mail_span{
    text-align: center; margin: 0 3.8px;
    position: relative; top: 12px;
}
/* 메일 select 박스 부분, position 위치조정 */
main #joinFrm dl dd select {
    float: right; position: relative; top: 2px;
    width: calc(100% - 190px); margin-bottom: 10px;
    background-image: url(../images/arrow_drop_down.png);
    position: relative; top: 2px;
    background-repeat: no-repeat;
    background-position: 144px center;
}
main #joinFrm dl dd .btn .mail_check_btn {
    background-color: #f5f5f5;
    display: inline-block; width: 100%;
    text-align: center;
    padding: 10px 0; border-radius: 3px; border: 1px solid #ddd;
    color: #777; font-weight: 600;
}
main #joinFrm dl dd select[name=mail_site] option {}
main #joinFrm dl dd input[name$=pw] {}
main #joinFrm dl dd input[name$=pw_check] {}
main #joinFrm dl dd input[name$=nickname] {}
/* =======================================약관동의 부분 */
/* --------------전체동의 체크박스-------------- */
main #joinFrm dl .law {
    padding: 10px; border: 1px solid #ddd; border-radius: 3px;
}
main #joinFrm dl dd .all {
    padding-bottom: 10px; margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}
main #joinFrm dl dd .all #all_y_law {margin-bottom: 10px;}
main #joinFrm dl dd .all #all_y_law:checked+label {
    background: url(../images/check_box_n.png) no-repeat center left;
}
main #joinFrm dl dd .all label {
    font-weight: 600; background: url(../images/check_box_y.png) no-repeat left center;
    padding-left: 34px;
}
main #joinFrm dl dd .all .all_y_txt {font-size: 0.88rem; color: #777;}
/* ---------전체동의 하단 약관 체크박스(5개)----------------- */
main #joinFrm dl dd div[class^=law] {padding: 4px 0; margin-bottom: 10px;}
main #joinFrm dl dd div[class^=law]:last-child {padding: 4px 0; margin:0;}
main #joinFrm dl dd div[class^=law] label {
    background: url(../images/check_box_n.png) no-repeat center left;
    padding: 4px 0 4px 30px;
}
/* 속성 선택자 이용 클래스와 아이디를 한 번에 선택했는데, 각각 따로 잘 작동함(이유는 모르겠음). 따로 설정해야하는지 의문 */
main #joinFrm dl dd div[class^=law] [id$=law]:checked+label {
    background: url(../images/check_box_y.png) no-repeat center left;
}
main #joinFrm dl dd div[class^=law] label,
main #joinFrm dl dd div[class^=law] span {
    font-size: 0.81rem;
}
main #joinFrm dl dd div span {color: #3292FF;}
/* (선택) 부분 span 색상/크기만 따로 설정 */
main #joinFrm dl dd .law_marketing span,
main #joinFrm dl dd .law_notice span {color: #777; font-size: 0.75rem;}
main #joinFrm dl dd div[class^=law] a img {
    float: right;
}
/* =======================================SUBMIT button 시작 */
main .btn {text-align: center;margin-bottom: 22px;}
main .btn .join_btn {
    background-color: #3292FF; width: 100%;
    border-radius: 3px; 
    padding: 15px 10px;
    color: #fff;
}
/* ==============================이미 아이디 있는 경우->로그인 창 연결 */
main > p {
    text-align: center;
    font-size: 0.88rem; padding-bottom: 100px;
}
main > p a {font-weight: 600; border-bottom: 1px solid #000;}